@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.bg-btn-swap {
  background-image: linear-gradient(270deg, #A7ECFF -17.42%, #E8B6FF 109.05%);
}

.bg-btn-vault-gold {
  background-image: linear-gradient(270deg, #ffb733 -17.42%, #9f95f0 109.05%);
}